@media (max-width: 950px) {
    header {
        
        h1 {
        font-size: 5rem;
        line-height: 130px;
        }
        .instructionContainer {
            margin-top: 16px;
        }
    }
    .recipeGallery,
    .listOfFavorites,
    .listOfBookmarks {
        justify-content: center;
        li {
            width: calc((100% / 2) - 20px);
        }
    }
}



@media (max-width: 730px) {
    header .instructionContainer {
        font-size: 1rem;
    }

    .menuItem {
        padding: 10px;
    }
    .menuItem:after {
        bottom: 8px;
        left: 5%;
        width: 90%;
    }

    .recipeGallery,
    .listOfFavorites,
    .listOfBookmarks {
        li {
            flex-direction: column;
            padding: 5px;
        }
    }
}

@media (max-width: 550px) {

    .ingredientForm {
        min-width: unset;
        width: 100%;
        button {
            font-size: 1rem;
        }
    }

    .advSearch {
        font-size: 1rem;
    }



    .recipeGallery,
    .listOfFavorites,
    .listOfBookmarks {
        li {
            width: 100%;
            img{
                width: 70%;
            }
        }
    }
    footer p {
        font-size: 1.3rem;
    }
}


@media (max-width: 460px) {
    .errorSection .wrapper p {
            font-size: 1rem;
        }
    .menu .menuList {
            flex-direction: column;
            align-items: center;
        }
}


@media (max-width: 400px) {

    header h1 {
        margin-top: 30px;
        font-size: 4rem;
        line-height: 100px;
    }

    .formSection .wrapper{
        gap: 4px;
    }

    .advSearch {
        padding-left: 5px;
        padding-right: 5px;
    }

    .recipeGallery,
    .listOfFavorites,
    .listOfBookmarks {
        li {
            flex-direction: column;

            img {
                width: 90%;
            }
        }
    }
}